.interact-board{
    background: rgb(225, 231, 237);
    width: 100vw;
    height: calc(100vh - 64px);
    position: relative;
    overflow: auto;
}
.interact-toolbar{
    width: 100vw;
    background: rgb(46, 46, 46);
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}